on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4

      - name: "Get version"
        id: version
        uses: home-assistant/actions/helpers/version@master

      - name: "Set manifest version number"
        run: |
          sed -i 's/0.0.0/${{ steps.version.outputs.version }}/' manifest.json

      - name: "Create zip"
        run: |
          zip task_tracker.zip -r ./

      - name: Upload ZIP to Release
        uses: softprops/action-gh-release@v1
        with:
          files: task_tracker.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}